$serif: 'Bitter', Georgia, serif;
$sanserif: 'Open Sans', Arial, sans-serif;
$text-color-main: #444444;
$text-color-darker: #333333;
$nav-spacing: 20px;

body {
  font-family: $sanserif;
  font-size: 1em;
  font-weight: 400;
  color: $text-color-main;
}

p {
  font-family: $serif;
}

#container {
  margin: 0 auto;
  padding-top: 80px;
  width: 700px;
}

h1 {
  font-weight: 800;
  color: $text-color-darker;
  font-size: 3.5em;
}


nav {
  position: fixed;
  background: #CCCCCC;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  padding: $nav-spacing;
  padding-right: 0px;
}

li.nav {
  display: inline;
  margin: 0;
  padding-right: $nav-spacing;
  padding-left: $nav-spacing;
  border-left: 1px solid black;
}

li.first {
  border-left: 0;
  display: inline;
  margin: 0;
  padding-right: $nav-spacing;
}

ul.nav {
  display: inline;
  margin: 0;
  padding: 0;
}