$serif: 'Bitter', Georgia, serif;
$sanserif: 'Open Sans', Arial, sans-serif;

body {
  font-family: $sanserif;
  font-size: 1em;
  font-weight: 400;
  color: #444444;
}

p {
  font-family: $serif;
}

#container {
  margin: 0 auto;
  padding-top: 80px;
  width: 700px;
}

h1 {
  font-weight: 800;
  color: #333333;
  font-size: 3.5em;
}


nav {
  position: fixed;
  background: #CCCCCC;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  padding: 20px 0 20px 20px;
}

li.nav {
  display: inline;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid black;
}

li.first {
  border-left: 0;
  display: inline;
  margin: 0;
  padding-right: 20px;
}

ul.nav {
  display: inline;
  margin: 0;
  padding: 0;
}