$serif: 'Bitter', Georgia, serif;
$sanserif: 'Open Sans', Arial, sans-serif;
$text-color-main: #444444;
$text-color-darker: #333333;
$nav-spacing: 20px;
$accent-color: #CFCDFF;

body {
  font-family: $sanserif;
  font-size: 1em;
  font-weight: 400;
  color: $text-color-main;
}

p {
  font-family: $serif;
}

a {
  text-decoration: none;
  color: $text-color-darker;
  font-weight: 600;
}

#container {
  margin: 0 auto;
  padding-top: 80px;
  width: 700px;
}

h1 {
  font-weight: 800;
  color: $text-color-darker;
  font-size: 3.5em;
}

nav {
  position: fixed;
  background: $accent-color;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  padding: $nav-spacing;
  padding-right: 0px;
}

.nav {
  display: inline;
  margin: 0;
  ul {
    padding: 0px;
  }
  li {
    padding-right: $nav-spacing;
    padding-left: $nav-spacing;
    border-left: 1px solid black;
  }
}

li.first {
  border-left: 0;
  display: inline;
  margin: 0;
  padding-right: $nav-spacing;
}